@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", serif;
}

.nav {
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 100px;
  gap: 70%;
  color: #13183f;
}

.nav-btn {
  color: #ffffff;
  border-radius: 28px;
  background: var(--13183F, #13183f);
  line-height: 28px;
  padding: 5px 20px;
  position: relative;
  z-index: 2;
}

.nav-btn:hover {
  cursor: pointer;
  background: var(--666CA3, #666ca3) !important;
}

.container-start {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 100px;
  height: 600px;
}

.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 25vw;
}

.title {
  color: #13183f;
  font-size: 20px;
  font-weight: 800;
}

.subtitle {
  color: #83869a;
  padding-bottom: 20px;
}

.img-container-start {
  display: flex;
  position: relative;
  top: 50px;
  justify-content: end;
  align-items: end;
}

.img-start {
  width: 900px;
  height: 900px;
  object-fit: cover;
  object-position: -200% 0;
  z-index: 1;
  position: absolute;
}

.img-start-mobil {
  display: none;
}

.start-btn {
  border-radius: 31.5px;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  line-height: 28px;
  padding: 5px 20px;
  color: #ffffff;
}

.start-btn:hover {
  cursor: pointer;
  background: var(
    --Gradient-1-Hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
}

.container-cards {
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  padding: 50px 100px 50px 100px;
  row-gap: 70px;
  column-gap: 20px;
}

.popular-curses {
  border-radius: 15px;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  width: 350px;
  height: 322px;
  color: #ffffff;
  padding: 50px 100px 0 30px;
  font-size: 20px;
  line-height: 40px;
}

.section {
  background: #ffffff;
  border-radius: 15px;
  width: 350px;
  height: 322px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 50px 0 30px;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.small {
  gap: 36px;
}

.icon {
  width: 20%;
  position: relative;
  bottom: 20px;
}

.title-section {
  color: #13183f;
}

.p-section {
  color: #83869a;
}

.btn-card {
  color: #f74780;
  font-weight: 700;
  background-color: #ffffff;
  font-size: 15px;
}

.footer {
  display: flex;
  background: #13183f;
  align-items: center;
  padding: 20px 0px 20px 100px;
  gap: 70%;
  color: #ffffff;
}

.footer-btn {
  border-radius: 28px;
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  line-height: 28px;
  padding: 5px 20px;
  color: #ffffff;
}

.footer-btn:hover {
  cursor: pointer;

  background: var(
    --Gradient-2-Hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%)
  );
}

@media only screen and (max-width: 820px) and (min-width: 480px) {
  .nav {
    gap: 65%;
    padding-left: 50px;
  }

  .container-start {
    height: 550px;
    padding-left: 50px;
  }

  .container-title {
    width: 50vw;
    justify-content: start;
    padding-top: 100px;
  }

  .img-container-start {
    top: -20px;
  }

  .img-start {
    display: none;
  }

  .img-start-tableta {
    background-image: url(./image-hero-tablet.png);
    width: 400px;
    height: 700px;
    object-fit: cover;
    object-position: -200% 0;
    z-index: 1;
    position: absolute;
  }

  .container-cards {
    grid-template-columns: repeat(2, 3fr);
    padding-left: 50px;
    padding-top: 0;
  }

  .footer {
    padding: 15px 0 15px 50px;
  }
}

@media only screen and (max-width: 480px) {
  .nav {
    gap: 45%;
    padding: 10px;
  }

  .img-start {
    display: none;
  }

  .container-start {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
  }

  .container-title {
    width: 100%;
  }

  .img-start-mobil {
    display: flex;
    width: 100vw;
    justify-content: center;
  }

  .container-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 50px 0px;
    gap: 50px;
  }

  .popular-curses {
    border-radius: 10px;
    width: 350px;
    height: 130px;
    padding: 20px 20px 0 30px;
    font-size: 20px;
  }

  .footer {
    padding: 20px 0 20px 20px;
    gap: 40%;
  }
}
